# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
next-env.d.ts

# Env
.env
.env.local
.env.*.local
!.env.example

# Testes / Coverage
coverage/
playwright-report/
test-results/
.nyc_output/

# Certs locais (dev HTTPS)
*.pem
*.key

# Logs
*.log
build.log
npm-debug.log*
pnpm-debug.log*

# TS
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Deploy antigos
railway.toml

# Cache
.swc/
.eslintcache